img {
    width: 100%;
    max-height: 400px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer .wrap-content {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

footer .wrap-content>div {
    padding: 30px;
}
